In [1]:
ls

LICENSE                            Untitled.ipynb
README.md                          srr.fg.csv
SRR606249.gather.csv               srr.fg.full.csv
SRR606249.prefetch.csv             srr.fmg-rdb.csv
SRR606249.x.gtdb-rs214.gather.csv  srr.fmg.csv

In [2]:
import pandas as pd

In [8]:
SRR606249_gather = pd.read_csv('SRR606249.gather.csv')
srr_fg_full = pd.read_csv('srr.fg.full.csv')
SRR606249_x_gtdb_rs214 = pd.read_csv('SRR606249.x.gtdb-rs214.gather.csv')

In [9]:
print(len(SRR606249_gather), len(srr_fg_full), len(SRR606249_x_gtdb_rs214))

84 84 84

In [6]:
SRR606249_gather.tail(1)

,intersect_bp,f_orig_query,f_match,f_unique_to_query,f_unique_weighted,average_abund,median_abund,std_abund,match_filename,match_name,...,scaled,query_n_hashes,query_abundance,query_containment_ani,match_containment_ani,average_containment_ani,max_containment_ani,n_unique_weighted_found,sum_weighted_found,total_weighted_hashes
83,3832000,0.009018,0.00893,0.00023,0.00013,19.058824,18.0,11.281447,NaN,GCF_000377605.1 Salinispora arenicola CNT859 s...,...,1000,221608,True,0.763211,0.858813,0.811012,0.858813,972,7152449,7462785

In [7]:
srr_fg_full.tail(1)

,intersect_bp,f_orig_query,f_match,f_unique_to_query,f_unique_weighted,average_abund,median_abund,std_abund,match_filename,match_name,...,scaled,query_n_hashes,query_abundance,query_containment_ani,match_containment_ani,average_containment_ani,max_containment_ani,n_unique_weighted_found,sum_weighted_found,total_weighted_hashes
83,3832000,0.009018,0.00893,0.00023,0.00013,19.058824,18.0,11.281447,NaN,GCF_000377605.1 Salinispora arenicola CNT859 s...,...,1000,221608,True,0.763211,0.858813,0.811012,0.858813,972,7152449,7462785

In [10]:
SRR606249_x_gtdb_rs214.tail(1)

,intersect_bp,f_orig_query,f_match,f_unique_to_query,f_unique_weighted,average_abund,median_abund,std_abund,filename,name,...,query_n_hashes,query_abundance,query_containment_ani,match_containment_ani,average_containment_ani,max_containment_ani,potential_false_negative,n_unique_weighted_found,sum_weighted_found,total_weighted_hashes
83,436000,0.001026,0.023213,0.00012,0.000011,1.666667,1.0,0.963382,/group/datalabgrp/ctbrown/SRR606249-feb13-2024...,GCF_001069785.1 Streptococcus parasanguinis st...,...,424915,True,0.800915,0.949169,0.875042,0.949169,False,85,7152456,7462785

In [12]:
all(srr_fg_full == SRR606249_gather)

True

In [22]:
col1 = set(srr_fg_full.columns)
col2 = set(SRR606249_x_gtdb_rs214.columns)

print(col1 - col2)
print(col2 - col1)

{'match_name', 'match_filename', 'match_md5'}
{'md5', 'potential_false_negative', 'name', 'filename'}

In [28]:
names1 = set(srr_fg_full.loc[:, 'match_name'])
names2 = set(SRR606249_x_gtdb_rs214.loc[:, 'name'])

In [29]:
names1 - names2

{'GCF_000022325.1 Caldicellulosiruptor bescii DSM 6725 strain=DSM 6725, ASM2232v1',
 'GCF_000156375.1 Desulfovibrio piger ATCC 29098 strain=ATCC 29098, ASM15637v1',
 'GCF_000419565.1 Sphingomonas melonis FR1 strain=FR1, ASM41956v1',
 'GCF_001070575.1 Streptococcus parasanguinis strain=139.rep1_SPAR, ASM107057v1',
 'GCF_002959625.1 Bacteroides vulgatus strain=ATCC 8492, ASM295962v1',
 'GCF_008000975.1 Akkermansia muciniphila strain=DSM 22959, ASM800097v1'}

In [30]:
names2 - names1

{'GCF_000012825.1 Bacteroides vulgatus ATCC 8482 strain=ATCC 8482, ASM1282v1',
 'GCF_000379045.1 Sphingomonas melonis DAPP-PG 224 strain=DAPP-PG 224, ASM37904v1',
 'GCF_001069785.1 Streptococcus parasanguinis strain=139.rep2_SPAR, ASM106978v1',
 'GCF_018140615.1 Akkermansia muciniphila strain=AMUC, ASM1814061v1',
 'GCF_900184165.1 Caldicellulosiruptor bescii strain=DSMZ 6725, IMG-taxon 2663762791 annotated assembly',
 'GCF_902373865.1 Desulfovibrio piger, MGYG-HGUT-01321'}