In [19]:
ls

LICENSE
README.md
SRR606249.trim.k31.sig.zip
SRR606249.x.combined-matches.gather.csv
bak/
combined-k21.sig.zip
combined-matches-k31.rocksdb/
combined-matches-k31.sig.zip
combined-matches.csv
compare.ipynb
run-fmg.sh
run-fmg.sh~
srr.fg.csv
srr.fg.full.csv
srr.fmg-rdb.csv
srr.fmg.csv

In [20]:
import pandas as pd

In [21]:
SRR606249_gather = pd.read_csv('bak/SRR606249.gather.csv')
srr_fg_full = pd.read_csv('srr.fg.full.csv')
#SRR606249_x_gtdb_rs214 = pd.read_csv('SRR606249.x.gtdb-rs214.gather.csv')
SRR606249_x_gtdb_rs214 = pd.read_csv('SRR606249.x.combined-matches.gather.csv') # against subset

In [22]:
print(len(SRR606249_gather), len(srr_fg_full), len(SRR606249_x_gtdb_rs214))

84 84 84

In [5]:
SRR606249_gather.tail(1)

,intersect_bp,f_orig_query,f_match,f_unique_to_query,f_unique_weighted,average_abund,median_abund,std_abund,match_filename,match_name,...,scaled,query_n_hashes,query_abundance,query_containment_ani,match_containment_ani,average_containment_ani,max_containment_ani,n_unique_weighted_found,sum_weighted_found,total_weighted_hashes
83,3832000,0.009018,0.00893,0.00023,0.00013,19.058824,18.0,11.281447,NaN,GCF_000377605.1 Salinispora arenicola CNT859 s...,...,1000,221608,True,0.763211,0.858813,0.811012,0.858813,972,7152449,7462785

In [6]:
srr_fg_full.tail(1)

,intersect_bp,f_orig_query,f_match,f_unique_to_query,f_unique_weighted,average_abund,median_abund,std_abund,match_filename,match_name,...,scaled,query_n_hashes,query_abundance,query_containment_ani,match_containment_ani,average_containment_ani,max_containment_ani,n_unique_weighted_found,sum_weighted_found,total_weighted_hashes
83,3832000,0.009018,0.00893,0.00023,0.00013,19.058824,18.0,11.281447,NaN,GCF_000377605.1 Salinispora arenicola CNT859 s...,...,1000,221608,True,0.763211,0.858813,0.811012,0.858813,972,7152449,7462785

In [7]:
SRR606249_x_gtdb_rs214.tail(1)

,intersect_bp,f_orig_query,f_match,f_unique_to_query,f_unique_weighted,average_abund,median_abund,std_abund,filename,name,...,query_n_hashes,query_abundance,query_containment_ani,match_containment_ani,average_containment_ani,max_containment_ani,potential_false_negative,n_unique_weighted_found,sum_weighted_found,total_weighted_hashes
83,436000,0.001026,0.023213,0.00012,0.000011,1.666667,1.0,0.963382,/group/datalabgrp/ctbrown/SRR606249-feb13-2024...,GCF_001069785.1 Streptococcus parasanguinis st...,...,424915,True,0.800915,0.949169,0.875042,0.949169,False,85,7152456,7462785

In [23]:
all(srr_fg_full == SRR606249_gather)

True

In [24]:
col1 = set(srr_fg_full.columns)
col2 = set(SRR606249_x_gtdb_rs214.columns)

print(col1 - col2)
print(col2 - col1)

{'match_filename', 'match_md5', 'match_name'}
{'potential_false_negative', 'filename', 'name', 'md5'}

In [25]:
names1 = set(srr_fg_full.loc[:, 'match_name'])
names2 = set(SRR606249_x_gtdb_rs214.loc[:, 'name'])

In [26]:
names1 - names2

{'GCF_000022325.1 Caldicellulosiruptor bescii DSM 6725 strain=DSM 6725, ASM2232v1',
 'GCF_000419565.1 Sphingomonas melonis FR1 strain=FR1, ASM41956v1',
 'GCF_002959625.1 Bacteroides vulgatus strain=ATCC 8492, ASM295962v1'}

In [27]:
names2 - names1

{'GCF_000012825.1 Bacteroides vulgatus ATCC 8482 strain=ATCC 8482, ASM1282v1',
 'GCF_000379045.1 Sphingomonas melonis DAPP-PG 224 strain=DAPP-PG 224, ASM37904v1',
 'GCF_900184165.1 Caldicellulosiruptor bescii strain=DSMZ 6725, IMG-taxon 2663762791 annotated assembly'}

In [28]:
combined = names1.union(names2)
picklist = pd.DataFrame(dict(matches=list(combined)))

In [17]:
picklist

                                              matches
0   GCF_019884805.1 Thermus thermophilus strain=N-...
1   GCF_023845025.1 Salinispora arenicola strain=R...
2   GCF_000016385.1 Pyrobaculum arsenaticum DSM 13...
3   GCF_000011965.2 Ruegeria pomeroyi DSS-3 strain...
4   GCF_000009145.1 Nitrosomonas europaea ATCC 197...
..                                                ...
85  GCF_000195675.1 Bordetella bronchiseptica RB50...
86  GCA_001596115.1 Shigella sp. PAMC 28760 strain...
87  GCF_001069785.1 Streptococcus parasanguinis st...
88  GCA_003514505.1 Proteiniclasticum sp., ASM3514...
89  GCF_000006985.1 Chlorobaculum tepidum TLS stra...

[90 rows x 1 columns]

In [18]:
picklist.to_csv('combined-matches.csv')